.SingleStory {
    position:relative;
    background-size:"cover";
    background-repeat:"no-repeat";
    background-position: center center;
    width:25%;

    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 17px -7px rgba(0 , 0, 0, 0.75);
    cursor: pointer;
    transition: transform 100ms ease-in;
   
}
.Story__avatar {
    margin: 10px;
    border: 5px solid #2e81f4;
    
}

.SingleStory:hover {
    transform:scale(1.07)
}

.SingleStory>h4 {

   position: relative;
   top: 69px !important;
  
    color:white;
    text-align: justify

}