.sidebarRow {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
}
.sidebarRow:hover {
    background-color:lightgray;
    border-radius: 10px;
}
.sidebarRow>p {
    margin-left: 20px;
    font-weight: 600;
}
.sidebarRow>.MuiSvgIcon-root {
    font-size: xx-large;
    
}
.sidebarRow:hover>.MuiSvgIcon-root {
    font-size: xx-large;
    color:#3b5998;
}