.header {
    display: flex;
    width: 100%;
    top:0;
    position: sticky;
    box-shadow: 0 5px 7px -9px rgba(0 ,0, 0, 0.75 );
    z-index:190;
    justify-content: space-between;
    padding:15px 20px !important;
    background-color: 	#ffffff;
    box-sizing: border-box;
    height: auto !important;

}
.header__left {
    display:flex;
    justify-content: space-evenly !important;
    align-content: center;
    /* background-color: blue; */
}
.header__left >img {
   
    height:40px

}

.left__searchIcon_search__container >input {
    background-color: transparent;
    border: none;
    outline: none;
    
}

.left__searchIcon_search__container{
   background-color:#f7f7f7 ; 
   /* #f7f7f7 */
    border-radius: 33px;
   padding:10px;
   margin-left: 10px;
   display:flex;
   height:auto;
   align-items: center !important;
   /* height:"40px !important" */


}

.header__left>.MuiSvgIcon-root {
    color: blue;
}
.header__left{
    padding-left: 50px;
}

.header__center {
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex: 1;
}
.header__center:hover>.MuiSvgIcon-root {
    color: #3b5998;
}
.header__center_option_active, .header__center_option {
    padding:0 40px !important;
}

.header__center_option_active> .MuiSvgIcon-root:hover {
    
    color:#3b5998;
}
.header__center_option_active {

    color:#3b5998 !important;
    border-radius: 10px !important;
    align-items: center !important;
    border-bottom:  #3b5998 !important;
     padding: 0 30px !important ; 
 } 
 
.header__right{
    display: flex;
    justify-content: space-between;
    
}


.avatar {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 33px;
    padding-top:0 !important;
    padding-bottom: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    

}
.avatar :hover {  

    background-color:#f7f7f7 ;
    /* border-radius: 10px;
    align-items: center;
    border-bottom: none;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 33px;
    padding-top:0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important; */

}

